<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <section class="login">
    <h1 class="login__title">Sign up</h1>
    <form action="/" method="POST">
        <input class="form__input" name ="email" type="email" placeholder="Your email" />
        <input class="form__input" name ="password" type="password" placeholder="Your password" />
        <input class="form__input" name= "username" type="username" placeholder="Your username" />
        <input class="form__input" type="name" name="name" placeholder="Your name" />
        <input class="form__input" type="bio" name="bio" placeholder="Your bio" />

        <input class="form__submit" type="submit" value="Submit">GO</button>
    </form>
    <a href="/signin" class="login__action">Sign in</a>
    </section>
</body>
</html>